<% include Partials/header.ejs %>
<% include Partials/main_nav.ejs %>
<!--Main Content-->
<div class="home">
  <h1><%= title %></h1>
</div>
<img class="background-image" src="/Assets/images/paris.avif" alt="paris">
<div class="images">
  <img class="overlay-image" src="/Assets/images/collage.png" alt="collage">
</div>
<% include Partials/footer.ejs %>

    
